/*
https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
/*body {
  margin: 0;
}
*/

#flexBox {
	display: flex;
	border: 4px solid Green;
	height: 150px;
}

.flexThing {
	/* border-radius: 25px; */
	background-color: pink;
	margin: 5px;
	width: 50px;
	height: 50px;
}

.bew {
	background-color: blue;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 /*  background-color: black;*/
  font-family: Avenir, sans-serif;
  height: 200px;
}
a {
  font-weight: bold;
  font-size: 24px;
  background-color: rgb(255, 100,100);
  color: white;
  padding: 5px 25px;
/*	 makes rounded border on rectangle */
   border-radius: 0px;
}
a:hover{
	color:yellow;
}
