/*
https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
/*body {
  margin: 0;
}
*/

#flexBox {
	display: flex;
	border: 4px solid Green;
	height: 150px;
}

.flexThing {
	border-radius: 10px;
	background-color: pink;
	margin: 5px;
	width: 50px;
	height: 50px;
}






